{% extends "base.html" %}

<!-- Head import -->
{% block head %}
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='home.css') }}"
  />
  <link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" 
    integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" 
    crossorigin="anonymous" 
  />

{% endblock %}

<!-- Title -->
{% block title %}HOME{% endblock %}

<!-- Content -->
{% block content %}
  <div class="search-container fadeInDown">
    <div class="title">
      <span class="font-weight-bold">Contacts List</span>
      <div class="title-button-new">
        <a href="/register"><button class="btn btn-primary new"><i class="fa fa-plus"></i> New</button></a>
      </div>
    </div>

    <div class="mt-3 inputs">
      <input type="text" class="form-control" id="search" placeholder="Search contacts...">
    </div>

   <div class="box-container">
     {% for user in users %}
       <div class="item-list">
         <div class="item-avatar">
           <img src={{ user.get('avatar') }} />
         </div>
         <div class="item-info">
           <p class="user-name">{{ user.get('name') }}</p>
           <p class="user-phone">{{ user.get('phone') }}</p>
         </div>
         <div class="item-buttons">
           <a 
             href="/edit/{{ user.get('id') }}" 
             class="text-info" 
             data-toggle="tooltip" 
             title="" 
             data-original-title="Edit"
           ><i class="fas fa-pencil-alt"></i></a>
           <a 
             href="/delete/{{ user.get('id') }}" 
             class="text-danger" 
             data-toggle="tooltip" 
             title="" 
             data-original-title="Delete"
           ><i class="far fa-trash-alt"></i></a>
         </div>
       </div>
     {% endfor %}
   </div>
  </div>
{% endblock %}
